<% @title = "Bankslip Entry Form" %>
<% if alert %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= alert %>
</div>
<% end %>
<div class="logo-2"><%= image_tag("https://1.bp.blogspot.com/-6T_we13FNNo/WDszVN0oC8I/AAAAAAAAArQ/JL1iJfyvQGsyquk7BEsWlsPa4W55uyfuACLcB/s1600/uob.jpg", size: "100x100") %></div> <h1>Bankslip Entry Form</h1>
<div class="row">
  <div class="col-md-4">
    <%= render 'form' %>  
  </div>
  <div class="col-md-2"> 
  </div>
</div>