body {
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
}

.inner-body {
  width: 295px;
  height: auto;
}

.challan-1 {
  text-decoration: underline;
}
.challan-2 {
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
  margin-top: -18px;
  margin-left: 120px;
}

.UOB {
 margin-top: 5px; 
}

.uob-logo {
  margin-left: 110px;
  margin-top: 10px;
}

table {
  line-height: 25px;
}

.td {
  border-bottom: 1px solid gray;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline;
  float: left;
  margin: 0px;
  padding: 7px;
}

.fee-collection {
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  line-height: 20px;
}

.list-1 {
  border-right: 2px solid black;
  border-right-style: dashed;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
}

.list-2 {
  border-right: 2px solid black;
  border-right-style: dashed;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
}

.list-3 {
  border-right: 2px solid black;
  border-right-style: dashed;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
}

.list-4 {
  
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
}

.notice {
  font-size: 12px;
}

.amount {
  font-size: 14px;
  font-weight: bold;
}